<form ng-submit='submitStory(story)'>
  <input type="text" placeholder="Type in a job title" ng-model='story.title'>
  <input type="text" placeholder="Type in a company" ng-model='story.place'>
  <input type="text" placeholder="Type in a person's name" ng-model='story.name'>
  <input type="text" placeholder="Type in an object" ng-model='story.object'>
  <input type="text" placeholder="Type in a place" ng-model='story.anotherPlace'>
  <input type="text" placeholder="Type in a time of day" ng-model='story.time'>
  <input type="text" placeholder="Another word for crazy" ng-model='story.adjective'>
  <button type="submit">Create a famous quote</button>
</form>
